<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="nc-roominfo-dialog">
  <template>
    <style>
      paper-dialog {
        @apply(--layout-vertical);
        max-height: none !important;
        min-height: 200px;
        width: 400px;
      }
      .header {
        @apply(--paper-font-headline);
      }
      .bold {
        font-weight: 500;
      }
      paper-button.delete {
        color: #fff;
        background-color: var(--google-red-700);
      }
    </style>
    <paper-dialog entry-animation="fade-in-animation" exit-animation="fade-out-animation" modal=true id="dialog">
      <div class="header">
        About <span class="bold">{{roomName}}</span>
      </div>
      <div class="info">
        <span class="bold">Purpose</span><br>
        <span>{{computePurpose(roomName, purpose)}}</span>
      </div>
      <div class="flex"></div>
      <div class="buttons">
        <paper-button dialog-dismiss class="delete">Delete</paper-button>
        <paper-button dialog-confirm raised class="ok" on-click="onOk" id="onOk">OK</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: "nc-roominfo-dialog",
      properties: {
        roomName: {
          type: String,
          notify: true
        },
        purpose: {
          type: String,
          notify: true,
          value: ""
        }
      },
      onOk: function() {
        this.$.dialog.close();
      },
      open: function() {
        this.$.dialog.open();
      },
      computePurpose: function(roomName, purpose) {
        if (purpose == null || purpose.length == 0) {
          return "There is no purpose given for " + roomName;
        } else {
          return purpose;
        }
      }
    });
  </script>
</dom-module>
